<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A9BF3531E6B1A0000ABC9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9BF3671E6B1A0100ABC9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A9BF3721E6B1A0100ABC9F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
